@CHARSET "UTF-8";

/* @group MyApplication styles */

.element-invisible, .hide, .hidden {
	display				: none;
}

.debuginfo {
	display				:  none;
}

/* @group navigation */
.navbar-brand IMG {
	height				: 24px;
	vertical-align		: top;
	float				: left;
}
	
.navbar-inverse {
	border-color		: #428bca; 
	background-color	: #2a6496; 
	background-image	: -webkit-linear-gradient(top,#428bca 0,#2a6496 100%);
	background-image	: linear-gradient(to bottom,#428bca 0,#2a6496 100%);
	background-repeat	: repeat-x;
	filter				: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',endColorstr='#ff2a6496',GradientType=0);
	filter				: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.container>.navbar-header, 
.container>.navbar-collapse {
  margin-right			: 0px;
  margin-left			: 0px;
}

.navbar-collapse NAV {
    /* container */
}

.navbar-collapse NAV > A {
    display				: none;
}

.navbar-collapse NAV LI {
    position			: relative;
}

/* @group first level */
.navbar-collapse NAV > UL {
    height				: 3.75em;
}
.navbar-collapse NAV > UL > LI
{
    width				: auto;
    height				: auto;
    float				: left;
}
.navbar-inverse .navbar-nav > LI > A {
  color					: #DADADA;
  font-size				: 14px;
  text-shadow			: none;
}
/* @end */

/* @group second level */

.navbar-collapse NAV LI UL {
    display				: none;
    position			: absolute;
    top					: 100%;
	margin-left			: 10px;
	margin-top			: 0px;
	background-color	: rgba(180, 200, 220, 0.95); /* #AAA; */
	padding				: 0px 0px 0px 0px;
    border-left			: 1px dotted #255e91;
    border-bottom		: 1px dotted #255e91;
	list-style			: none;
	font-size			: 12px;
	line-height			: 1;
}

.navbar-collapse NAV LI LI {
	white-space			: nowrap;
	min-width			: 120px;
    border-bottom		: 1px dotted #255e91;
	padding				: 5px 5px 5px 5px;
}

.navbar-collapse NAV LI LI:last-child {
	border-bottom		: none;
}  

.navbar-collapse NAV LI LI:hover {
	background-color	: rgba(230, 250, 255, 0.95);
	color				: #444;
}

.navbar-collapse NAV LI:hover A {
}

.navbar-collapse NAV LI:hover > UL {
    display				: block;
}

.navbar-collapse NAV LI UL LI UL {
	background-color	: rgba(175, 195, 215, 0.95);
	margin				: -23px 0px 0px 115px;
}	
/* @end */

/* @group breadcrumbs */
DIV.breadcrumb,
DIV.navbar-subnav {
	clear				: both;
	border				: 1px solid #CCC;
	border-radius		: 6px 6px 6px 6px;
	padding				: 7px 10px 5px 10px;
	margin-top			: 0px;
	margin-bottom		: 10px;
    font-size			: 12px;
}

.breadcrumb, .breadcrumb A {
    font-family			: arial,helvetica,sans-serif;
    font-size			: 12px;
    font-weight			: 700;
    line-height			: 19.5px;
}

.breadcrumb A, .breadcrumb SPAN {
    font-weight			: 400;
    margin				: 0;
    padding				: 0;
    border				: 0;
    outline				: 0;
    font-size			: 100%;
    background			: rgba(0, 0, 0, 0);
}
/* @end */

/* @group sublevel navigation */
.breadcrumb,
.navbar-subnav {
	padding				: 7px 5px;
	margin-bottom		: 0px;
	list-style			: none;
	background-color	: #F5F5F5;
	border-radius		: 4px;
}

.panel-default>.panel-heading > FORM, 
.panel-default>.panel-heading > .separator, 
.panel-default>.panel-heading > NAV , 
.panel-default>.panel-heading > NAV UL,
.panel-default>.panel-heading > NAV UL LI {
	float				: left;
	font-size			: 12px;
} 

.panel-default>.panel-heading {
	display				: block;
	height				: 40px;
} 

.panel-default>.panel-heading LABEL > SPAN  {
	min-width			: 65px;
	display				: inline-block;
	margin-right		: 5px;
}

.panel-default>.panel-heading > NAV UL,
.panel-default>.panel-heading > NAV UL LI {
	list-style			: none;
}

.panel-default>.panel-heading > NAV UL LI {
	padding				: 2px;
	margin				: 2px;
}

/* @end */

/* @group bootstrap overrides */
.navbar>.container .navbar-brand {
	margin-left			: -15px;
	text-shadow			: none;
	color				: #FFF;
	font-size			: 20px;
	font-weight			: bold;
	line-height			: 20px;
	width				: auto;
    white-space			: nowrap;
}

.navbar-nav > LI > A {
	padding-top			: 15px;
	padding-bottom		: 0px;
}

.navbar-inverse .navbar-nav>.active>A, 
.navbar-inverse .navbar-nav>.active>A:hover, 
.navbar-inverse .navbar-nav>.active>A:focus,
.navbar-inverse .navbar-nav .active .active>A, 
.navbar-inverse .navbar-nav .active .active>A:hover, 
.navbar-inverse .navbar-nav .active .active>A:focus {
	background			: none;
	box-shadow			: none;
}

.navbar-inverse .navbar-nav .active .active, 
.navbar-inverse .navbar-nav .active .active>A, 
.navbar-inverse .navbar-nav .active .active>A:hover, 
.navbar-inverse .navbar-nav .active .active>A:focus {
	background-color	: rgba(230, 245, 250, 0.95);
	color				: #444;
}
/* @end */


/* @group responsiveness */
@media only screen and ( max-width: 40em ) /* 640 */
{
    .navbar-collapse NAV
    {
        position		: relative;
    }
        .navbar-collapse NAV > A
        {
        }
        .navbar-collapse NAV:not( :target ) > A:first-of-type,
        .navbar-collapse NAV:target > A:last-of-type
        {
            display		: block;
        }
        
    /* first level */
	.navbar-nav > LI > A {
		padding-top: 10px;
		padding-bottom: 10px;
	} 
 
    .navbar-collapse NAV > UL
    {
        height			: auto;
        /*display			: none;
        position		: absolute;*/
        left			: 0;
        right			: 0;
    }
        .navbar-collapse NAV:target > UL
        {
            display		: block;
        }
        .navbar-collapse NAV > UL > LI
        {
            width		: 100%;
            float		: left;
        }
 
    /* second level */
 
    .navbar-collapse NAV LI UL
    {
        position		: relative;
        width			: 100%;
		padding			: 5px 10px;
        border-left		: none;
    }
    .navbar-collapse NAV LI.active > UL
    {
        display			: inline-block;
        margin-left		: 0px;
    }
	
	.navbar-collapse NAV LI LI {
		white-space		: nowrap;
        border-top		: 1px dotted #255e91;
        border-bottom	: none;
		padding			: 5px 5px 5px 5px;
		float			: left;
		clear			: both;
    }
    .navbar-collapse NAV LI:hover>UL {
		display			: block;
		float			: left;
		position		: relative;
		margin			: 0px;
		clear			: both;
		width			: 100%;
	}
    /* @group media bootstrap overrides */
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	  overflow			: visible;
	}
	.navbar-inverse .navbar-nav .active, 
	.navbar-inverse .navbar-nav .active .active, 
	.navbar-inverse .navbar-nav .active .active>A, 
	.navbar-inverse .navbar-nav .active .active>A:hover, 
	.navbar-inverse .navbar-nav .active .active>A:focus {
		background-color: rgba(175, 195, 215, 1);
		color			: #444;
	}
	/* @end */
					
}
/* @end */

/* @end */

/* @group status code colors */
.http200 { background-color	: #00ff66; }
.http304 { background-color	: #aaff66; }
.http300 { background-color	: #3366ff; }
.http301 { background-color	: #6699ff; }
.http302 { background-color	: #99ccff; }
.http303 { background-color	: #ccffff; }
.http400 { background-color	: #ffff00; }
.http401 { background-color	: #ffdd00; }
.http402 { background-color	: #ffbb00; }
.http403 { background-color	: #ff9900; }
.http404 { background-color	: #ff6600; }
.http500 { background-color	: #ff0000; color	: #ffffff; }
.http501 { background-color	: #dd2222; color	: #ffffff; }
.http502 { background-color	: #bb4444; color	: #ffffff; }
.http503 { background-color	: #996666; color	: #ffffff; }

.info	 {}
.success {}
.warn    { background-color	: #ffff00; }
.error   { background-color	: #ff0000; color	: #ffffff; }
/* @end status code colors */

/* @group content display */
BODY {
	font-family			: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size			: 12px;
	line-height			: 1.428571429;
	color				: #333;
	background-color	: #FFF;
    padding-top			: 70px;
    padding-bottom		: 0px;
}

A {
	color				: #3c86C5;
	text-decoration		: none;
}
A:hover, A:focus {
	color				: #255e91;
	text-decoration		: underline;
}

HR {
	margin				: 10px 0px;
	float				: left;
	width				: 100%;
	clear				: both;
}

P {
    font-size			: 14px;
}

.jumbotron P {
    font-size			: 16px;
}

P.enabled_registration {
 	clear				: both;
}

.page,
.box,
.conent,
.page TABLE {
	position			: relative;
}

.page SECTION.content {
	clear				: both;
	float				: left;
	text-align			: left;
	padding				: 10px;
}

.appname {
	font-weight			: bold;
}
/* @end content display */

/* @group panel display */
.page PRE {
	font-size			: 10px;
}

.panel-default A {
	white-space			: nowrap;
}
.panel-default A:before {
	content				: '[';
	margin-right		: 2px;
}
.panel-default A:after {
	content				: ']';
	margin-left			: 2px;
}
.panel-default A.btn:before {
	content				: none;
	margin-right		: initial;
}
.panel-default A.btn:after {
	content				: none;
	margin-left			: initial;
}

.panel-body {
	height				: auto;
	overflow			: hidden;
}
/* @end panel display */

/* @group table layout */
.page TABLE {
	width				: 100%;
	max-width			: 100%;
}
.page TABLE,
.page TABLE TR {
	border-collapse		: initial;
	border-spacing		: 2px;
}
.page TABLE,
.page TABLE TR,
.page TABLE TD,
.page TABLE TH {
	text-align			: left;
}
.page TABLE TD, 
.page TABLE TH {
	max-width			: 395px;
	overflow			: hidden;
	text-overflow		: ellipsis;
	min-width			: 50px;
	width				: auto;
	white-space			: nowrap;
}
.page TABLE .error TD {
	max-width			: 1100px;
	min-width			: 100px;
}

thead th, th, td {
	border-left			: none;
	border-right		: none;
}

.matrix TD {
	white-space			: nowrap;
	min-width			: 70px;
}

/* @end table layout */

/* @group form display */
FORM {
	padding				: 10px;
	float				: left;
}
FORM > LABEL,
FORM > INPUT {
	float				: left;
	clear				: both;
}
FORM INPUT,
FORM SELECT {
	min-width			: 200px;
}
FORM > LABEL > SPAN {
	min-width			: 100px;
	display				: inline-block;
}
FORM > LABEL + UL {
	float				: left;
	border				: 1px solid #CCC;
	border-radius		: 6px 6px 6px 6px;
	padding				: 0px 10px 0px 25px;
	margin				: 0px 5px;
	background-color	: rgba(255, 100, 100, 0.75);
}

FORM .zend_form PRE {
  font-size				: 9pt;
  line-height			: 9pt;
  letter-spacing		: -2px;
  clear					: both;
  margin				: 0 0 5px;
}

FORM DD {
	margin				: 0 0 5px;
}

FORM DT {
	margin				: 0 0 5px;
}

FORM DT > LABEL {
	float				: left;
	min-width			: 100px;
}

FORM .zend_form BUTTON[name=submit] {
	margin-top			: 5px;
}

.matrix FORM {
	padding				: 0px;
}

.matrix FORM {
	padding				: 0px;
}
.matrix FORM SELECT {
	min-width			: 0px;
	float				: left;
}
.matrix FORM INPUT {
	width				: 20px;
	float				: left;
	clear				: none;
	margin-left			: 2px;
	min-width			: 0px;
	
}
.matrix FORM INPUT.btn {
	text-indent			: -999em;
	height				: 20px;
	width				: 20px;
	padding				: 0px;
}
.page TD FORM {
	padding				: initial;
}
.matrix FORM input.btn.disabled, 
.matrix FORM input.btn[disabled], 
.matrix FORM fieldset[disabled] input.btn {
	pointer-events		: none;
	cursor				: not-allowed;
	opacity				: .35;
	filter				: alpha(opacity=65);
	-webkit-box-shadow	: none;
	box-shadow			: none;
}
/* @end form display */

/* @group footer display */
FOOTER {
	padding-bottom		: 5px;
    display				: inline-block;
    width				: 100%;
}
FOOTER .copyright,
FOOTER .poweredby {
	display				: inline-block;
	vertical-align		: middle;
	line-height			: 20px;
	height				: 20px;
}
FOOTER .copyright {
	float				: left;
}
FOOTER .poweredby {
	float				: right;
}

FOOTER a {
	color				: #555;
	text-decoration		: none;
}
/* @end footer display */

/* @group flashmessages */
.flashmessages {
    clear				: both;
    border				: 1px solid #CCC;
    border-radius		: 6px 6px 6px 6px;
    padding				: 7px 10px 5px 30px;
    margin-top			: 0px;
    margin-bottom		: 10px;
    font-size			: 12px;
    background			: no-repeat 7px 5px;
    min-height			: 28px;
}
.flashmessages.info {
    background-image	: url(/img/icons/info.gif);
}
.flashmessages.warning {
	color				: black;
	background-color	: yellow;
    background-image	: url(/img/icons/icon_warning.gif);
}
.flashmessages.error {
	color				: black;
	background-color	: red;
    background-image	: url(/img/icons/icon_fatalerror.gif);
}
.flashmessages.success {
	color				: white;
	background-color	: #57a900;
    background-image	: url(/img/icons/but_ok.gif);
}
.flashmessages button.close {
    font-size			: 14px;
    line-height			: 14px;
    vertical-align		: middle;
}
.flashmessages.error  button.close {
	color				: yellow;
	opacity				: 1;
}
.flashmessages.success  button.close {
	color				: white;
	opacity				: .8;
}
/* @end */

/* @group bootstrap overrides */
.jumbotron button.close {
    font-size			: 30px;
}
.row button.close {
    margin-right		: 10px;
    margin-top			: 3px;
}
/* @end bootstrap overrides */

/* @group user admin */
.table.matrix > THEAD:first-child > TR:first-child > TH,
.table.matrix > TBODY > TR > TD {
	max-width			: 70px;
	vertical-align		: top;
	text-align			: center;
}
.table.matrix > THEAD:first-child > TR:first-child > TH:first-child {
	width				: auto;
	max-width			: none;
}
.table > TBODY > TR > TH {
	vertical-align		: middle;
}
.table.matrix > TBODY > TR > TD > FORM {
	float				: none;
	display				: inline-block;
}
/* @end user admin */

/* @group data filter form */
.filterform FORM INPUT, .filterform FORM SELECT {
    width				: auto;
    min-width			: 0px;
    height				: 20px;
    padding				: auto;
}
.filterform FORM LABEL {
	float				: left;
}
.filterform FORM INPUT[type="submit"] {
    float				: right;
    height				: 20px;
    margin				: -1px 0px 0px 5px;
    clear				: none;
}
.filterform FORM[name="events"] LABEL SPAN {
	display				: none;
}
.filterform FORM SPAN.label {
	float				: left;
	max-width			: 75px;
    min-width			: 0px;
    overflow			: hidden;
    text-overflow		: ellipsis;
    display				: inline-block;
    color				: #333;
    font-size			: 11px;
}
.filterform FORM SPAN.label:after {
	content				: ':';
	margin-right		: 5px;
}
/* @end data filter form */

/* @end Swim-DB styles */

/* @group responsiveness */
@media only screen and ( max-width: 40em ) /* 640 */
{
	.btn,
	.btn-lg {
		padding			: 5px 10px;
		font-size		: 12px;
		line-height		: 1.33;
		border-radius	: 5px;
	}
	
	.panel-body {
		max-height		: 100%;
		overflow		: hidden;
	}
}
/* @end responsiveness */
